/*footer.css*/
.site-footer {
  background-color: #333333;
  color: #ffffff;
  padding: 1.25rem 0;

  font-size: 0.875rem;
}

.footer-content {
  max-width: 85rem;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  
}


.footer-nav ul {
  display: flex;
  gap: 1.25rem;
}

.footer-nav ul ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-nav strong {
  color: #ededed;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  display: block;
}

.footer-nav li a {
  color: #ffffff;
}

.footer-nav li a:hover {
  text-decoration: underline;
  flex-direction: column;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-form input {
  border-radius: 1.875rem;
  color: #aaaaaa;
  padding: 0.75rem 1.25rem;
  width: 21.5rem;
}

.footer-social ul {
  display: flex;
  gap: 1.25rem;
}

.footer-social span {
  margin-bottom: 1rem;
  display: block;
}

.footer-social ul li a:hover img{
    opacity: 0.7;
   
}

.footer-copy{
 font-size: 1.5rem;
 text-align: center;
 padding: 1.25rem 0;
}